.article-holder {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  display: -webkit-box;
  max-width: 18.75rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.subtitle{
    margin-top: 1rem;
    font-size: 1.125rem;
    color: grey;
    font-weight: bold;
}
