.article-list-holder {
  width: 32rem;
  margin: 3rem auto;
}

.end-of-news {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

.fetched-pages {
  padding: 0.875rem;
  position: sticky;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 12px;
  width: 9.37rem;
}
